Overview:
Develop A simple Library Management system.

Requirements:
0. Exit from the program

1. Books can be added to the system. 
Use at least the title, author(s), ISBN, 
publishing year, price, and quantity information.

2. View all the books in the list.

3. When a book is added, it should be 
automatically saved into a file.

Task:
1. Book Update
2. Book Remove/Delete
Return
Lent